# Forge environment variables
# Copy this file to .env and fill in the values.
# These variables are set in your Forge environment using `forge variables set <KEY> <VALUE>`

# Toggle mock data for local development
ENABLE_MOCK_DATA=true

# The YAML configuration for the equity engine's policy
# You can store this as a single multi-line string
POLICY_CONFIG_YAML=""
